@import "tailwindcss";

@font-face {
  font-family: "AdorNoirrit";
  src: url("/fonts/Li-Ador-Noirrit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AdorNoirrit";
  src: url("/fonts/Li-Ador-Noirrit-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AdorNoirrit";
  src: url("/fonts/Li-Ador-Noirrit-A-V1-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AdorNoirrit";
  src: url("/fonts/Li-Ador-Noirrit-A-V1-Light.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.custom-ador-font {
  font-family: "AdorNoirrit", sans-serif;
}
